// Colors
$red: #FFAE9E;
$violet: #AE9EFF;
$yellow: #FFE49E;
$turquoise: #9EFFE4;

// Colors: header
$header-background-color: $violet;
$header-text-color: $turquoise;

// Colors: main
$main-background-color: $yellow;

// Spacing
$header-padding: 1em;
