<!DOCTYPE html>
<html>
  <head>
    <title>Hypertasking</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Hypertasking</h1>

    <%= yield %>
  </body>
</html>
